# Rofi configuration
bindsym $mod+d exec rofi -show run -theme adapta
bindsym $mod+Shift+d exec rofi -show drun -theme adapta
bindsym $mod+w exec rofi -show window -theme adapta

# Swaylock configuration
bindsym $mod+l exec swaylock -c 252936D0 --inside-color 25293600 --key-hl-color 4EC2E8 --ring-color 4EC2E880 --line-color 4EC2E810 --separator-color 00000000 --inside-ver-color 25293600 --inside-wrong-color 25293600 --ring-wrong-color 4EC2E880 --ring-ver-color 4EC2E880 --text-ver-color 4EC2E880 --text-wrong-color 4EC2E880 --line-wrong-color 4EC2E810 --line-ver-color 4EC2E810 --line-clear-color 25293600 --text-clear-color 252936D0

# Bar configuration
bar {
    status_command i3status
    position top
    colors {
        statusline #ffffff
        background #323232
        inactive_workspace #32323200 #32323200 #5c5c5c

	separator  #666666
    	focused_workspace  #4EC2E8 #4ec2e8 #FFFFFF
    	active_workspace   #333333 #222222 #FFFFFF
    	urgent_workspace   #2F343A #900000 #FFFFFF
    	binding_mode       #2F343A #900000 #FFFFFF
    }
}

# GTK theme
set $gnome-schema org.gnome.desktop.interface

exec_always {
    gsettings set $gnome-schema gtk-theme 'Paper'
    gsettings set $gnome-schema icon-theme 'Paper'
    gsettings set $gnome-schema cursor-theme 'Breeze Light'
}

# https://thomashunter.name/i3-configurator/
# class                 border  bground text    indicator child_border
client.focused          #4EC2E8 #4EC2E8 #FFFFFF #4EC2E8   #4EC2E8