# Default configuraiton
font pango:DejaVu Sans Mono 8
default_border pixel 4

# Rofi configuration
# bindsym $mod+d exec rofi -show run -theme default
# bindsym $mod+Shift+d exec rofi -show drun -theme default
# bindsym $mod+w exec rofi -show window -theme default

# Albert configuration
bindsym $mod+d exec albert toggle

# Swaylock configuration
bindsym $mod+l exec swaylock -c 000000D0 --inside-color 00000000 --key-hl-color 3ea1f0 --ring-color 3ea1f080 --line-color 3ea1f010 --separator-color 00000000 --inside-ver-color 00000000 --inside-wrong-color 00000000 --ring-wrong-color 3ea1f080 --ring-ver-color 3ea1f080 --text-ver-color 3ea1f080 --text-wrong-color 3ea1f080 --line-wrong-color 3ea1f010 --line-ver-color 3ea1f010 --line-clear-color 00000000 --text-clear-color 000000D0

# Bar configuration
bar {
    status_command i3status
    position top
    colors {
        statusline #323232
        background #ffffff80
	separator  #666666
    	focused_workspace  #32323280 #32323280 #ffffff
    	active_workspace   #323232 #32323280 #ffffff
	inactive_workspace #ffffff80 #ffffff80 #323232
    	urgent_workspace   #2F343A #900000 #FFFFFF
    	binding_mode       #2F343A #900000 #FFFFFF
    }
}

exec gsettings set org.gnome.desktop.interface cursor-theme 'Breeze_Snow'

# https://thomashunter.name/i3-configurator/
# class                 border  bground text    indicator child_border
client.focused          #32323280 #32323280 #FFFFFF #32323280   #32323280
client.focused_inactive #33333300 #5F676A00 #323232 #484E5000   #5F676A00
client.unfocused        #33333300 #22222200 #323232 #292D2E00   #22222200
client.urgent           #2F343A00 #90000000 #FFFFFF00 #90000000   #90000000
client.placeholder      #00000000 #0C0C0C00 #FFFFFF00 #00000000   #0C0C0C00