# Rofi configuration
bindsym $mod+d exec rofi -show run -theme default
bindsym $mod+Shift+d exec rofi -show drun -theme default
bindsym $mod+w exec rofi -show window -theme default

# Swaylock configuration
bindsym $mod+l exec swaylock -c 000000D0 --inside-color 00000000 --key-hl-color 35beb0 --ring-color 35beb080 --line-color 35beb010 --separator-color 00000000 --inside-ver-color 00000000 --inside-wrong-color 00000000 --ring-wrong-color 35beb080 --ring-ver-color 35beb080 --text-ver-color 35beb080 --text-wrong-color 35beb080 --line-wrong-color 35beb010 --line-ver-color 35beb010 --line-clear-color 00000000 --text-clear-color 000000D0

# Bar configuration
bar {
    status_command i3status
    position top
    colors {
        statusline #323232
        background #ffffff80
	separator  #666666
    	focused_workspace  #32323280 #32323280 #ffffff
    	active_workspace   #323232 #32323280 #ffffff
	inactive_workspace #ffffff80 #ffffff80 #323232
    	urgent_workspace   #2F343A #900000 #FFFFFF
    	binding_mode       #2F343A #900000 #FFFFFF
    }
}

# GTK theme

set $gnome-schema org.gnome.desktop.interface


exec_always {
    gsettings set $gnome-schema gtk-theme 'elementary'
    gsettings set $gnome-schema icon-theme 'elementary-xfce'
    gsettings set $gnome-schema cursor-theme 'Breeze Light'
}

# https://thomashunter.name/i3-configurator/
# class                 border  bground text    indicator child_border
client.focused          #32323280 #32323280 #FFFFFF #32323280   #32323280