# zypper in paper-icon-theme metatheme-paper-common breeze5-cursors
# Rofi configuration
bindsym $mod+d exec rofi -show run -theme paper
bindsym $mod+Shift+d exec rofi -show drun -theme paper
bindsym $mod+w exec rofi -show window -theme paper

# Swaylock configuration
bindsym $mod+l exec swaylock -c 607d8bD0 --inside-color 607d8b00 --key-hl-color FFFFFF --ring-color FFFFFF80 --line-color FFFFFF10 --separator-color 00000000 --inside-ver-color 607d8b00 --inside-wrong-color 607d8b00 --ring-wrong-color FFFFFF80 --ring-ver-color FFFFFF80 --text-ver-color FFFFFF80 --text-wrong-color FFFFFF80 --line-wrong-color FFFFFF10 --line-ver-color FFFFFF10 --line-clear-color 607d8b00 --text-clear-color 607d8bD0

# Bar configuration
bar {
    status_command i3status
    position top
    colors {
        statusline #ffffff
        background #323232
        inactive_workspace #32323200 #32323200 #5c5c5c
	separator  #666666
    	focused_workspace  #607d8b #607d8b #FFFFFF
    	active_workspace   #333333 #222222 #FFFFFF
    	urgent_workspace   #2F343A #900000 #FFFFFF
    	binding_mode       #2F343A #900000 #FFFFFF
    }
}

# GTK theme
set $gnome-schema org.gnome.desktop.interface
exec_always {
    gsettings set $gnome-schema gtk-theme 'Paper'
    gsettings set $gnome-schema icon-theme 'Paper'
    gsettings set $gnome-schema cursor-theme 'Breeze Light'
}

# https://thomashunter.name/i3-configurator/
# class                 border  bground text    indicator child_border
client.focused          #607d8b #607d8b #FFFFFF #607d8b   #607d8b
