configuration {
    show-icons:   false;
    sidebar-mode: false;
}

* {
    background-color: transparent;
    text-color:       white;
    spacing:          30;
}

#window {
    font: "System San Francisco Display 18";
    fullscreen: true;
    transparency: "background";
    background-color: #000000D0;
    children: [ dummy1, hdum, dummy2 ];
}

#hdum {
    orientation: horizontal;
    children: [ dummy3, mainbox, dummy4 ];
}

#element selected {
    text-color: #3ea1f0;
}