* {
    border:        none;
    border-radius: 0;
    font-family:   "Source Sans Pro";
    font-size:     15px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window#waybar {
    color: #ffffff;
    background-color: #161320;
    border-bottom: 0px solid #ffffff;
}

window#waybar.solo {
    color: #ffffff;

}

#workspaces {
    margin: 0;
    padding:0;
}

#workspaces button {
    padding: 0;
    margin: 0;
    color: #ffffff;
}

#workspaces button.focused {
    background-color: #161320;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: RGBA(255, 255, 255, 0.2);
}

#workspaces button.visible {
    color: #ffffff
}

#workspaces button.urgent {
    color: #F28FAD;
}

#mode, 
#battery, 
#cpu, 
#memory, 
#network, 
#pulseaudio, 
#idle_inhibitor, 
#temperature,
#custom-layout,
#backlight {
    margin: 0px 6px 0px 10px;
    /*    min-width: 30px;*/
}

#clock {
    margin: 0px 6px 0px 10px;
}

#battery.warning {
   color: #FAE3B0;
}

#battery.critical {
    color: #F28FAD;
}

#battery.charging {
    color: #ABE9B3;
}
