window {
border: 1px solid #C9CBFF;
background-color: #161320;
}

#input {
margin: 5px;
border: 2px solid #6E6C7E;
background-color: #6E6C7E;
}

#inner-box {
margin: 5px;
border: 2px solid #161320;
background-color: #161320;
}

#outer-box {
margin: 5px;
border: 2px solid #161320;
background-color: #161320;
}

#scroll {
margin: 5px;
border: 2px solid #161320;
background-color: #161320;
}

#text {
margin: 5px;
}
